.profile__add-btn {
  width: 150px;
  height: 50px;
  margin: 35px 0 0;
  padding: 0;
  background: url(../../../images/add-button.svg) center no-repeat;
  border: 1px solid #fff;
  border-radius: 2px;
}

@media screen and (max-width: 930px) {
  .profile__add-btn {
    margin-top: 32px;
    background: url(../../../images/add-button320.svg) center no-repeat;
  }
}

@media screen and (max-width: 400px) {
  .profile__add-btn {
    width: 282px;
  }
}
