.popup__input-error {
  margin: 5px 0 0;
  max-width: 358px;
  min-height: 25px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  color: #FF0000;
  opacity: 0;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 634px) {
  .popup__input-error {
    max-width: 238px;
    min-height: 20px;
  }
}