.popup__content {
  width: 430px;
  height: 330px;
  padding: 34px 36px 37px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-radius: 10px;
  background: #fff;
}

@media screen and (max-width: 634px) {
  .popup__content {
    max-width: 282px;
    max-height: 322px;
    padding: 25px 22px;
  }
}