.elements__like-btn {
  width: 22px;
  height: 19px;
  padding: 0;
  justify-content: flex-end;
  border: none;
  background: url(../../../images/like-button-disabled.svg) center no-repeat;
  opacity: 1;
  transition: opacity .10s ease .09s;
}

.elements__like-btn:hover {
  opacity: .5;
}
