.popup__save-btn {
 width: 358px;
 height: 50px;
 margin: 48px 0 0;
 padding: 0;
 font-size: 18px;
 font-weight: 400;
 line-height: 22px;
 border: none;
 color: #fff;
 background: #000;
 opacity: 1;
 transition: opacity .10s ease .09s;
 overflow: hidden;
}

.popup__save-btn:hover {
  opacity: .8;
}

@media screen and (max-width: 634px) {
  .popup__save-btn {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
    margin-top: 45px;
  }
}
