.popup__close-btn {
  width: 32px;
  height: 32px;
  margin: 0 0 8px 478px;
  padding: 0;
  border: none;
  background: url(../../../images/close-button.svg) center no-repeat;
}

@media screen and (max-width: 634px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    margin-left: 264px;
    margin-bottom: 17px;
    margin-right: 2px;
    background: url(../../../images/close-button320.svg) center no-repeat;
  }
}
