.popup__close-btn {
  width: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  top: -40px;
  right: -40px;
  border: none;
  background: url(../../../images/close-button.svg) center no-repeat;
}

@media screen and (max-width: 634px) {
  .popup__close-btn {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
    background: url(../../../images/close-button320.svg) center no-repeat;
  }
}