.popup__form {
  width: 358px;
  margin: 0;
  padding: 0;
  border: none;
  justify-content: center;
}

@media screen and (max-width: 634px) {
  .popup__form {
    max-width: 238px;
    margin-top: 28px;
  }
}